<div class="experience-container">
    <h2>Experience</h2>
    <p>Senior Net Developer<br>
    Techno Innovative Solutions - Washington D.C.</p>
    <ul>
      <li>Led a team of 5 developers on a .NET application resulting in a 20% increase in application efficiency amidst customer satisfaction.</li>
      <li>Implemented responsive design using CSS3 & HTML5 enhancing code quality resulting in system efficiency improvement.</li>
      <li>Implemented continuous integration & deployment practices leading to a 25% reduction in deployment errors & faster releases.</li>
    </ul>
    <p>Full Stack Developer<br>
        Global Tech Solutions - Arlington VA</p>
        <ul>
          <li>Developed “Techie,” an e-commerce site for a high-traffic e-commerce platform optimizing business operations by 50%.</li>
          <li>Designed & implemented SEO strategy driving website traffic by over 200%, ensuring online sales revenue generation.</li>
        </ul>
      
        <p>Software Engineer<br>
        Innovative Coding Inc.</p>
        <ul>
          <li>Please let me know if there’s anything else I can assist you with! 😊</li>
        </ul>
      </div>
 