<div class="achievements-container">
    <h2>ACHIEVEMENTS</h2>
    <hr>
     
    <h4>   <span class="material-symbols-outlined achive-icon">
        social_leaderboard
   </span>Lead Developer of Award-Winning Software</h4>
      <li>Spearheaded the development of an award-winning educational application, seeing a user growth to 50,000+ within the first year.</li><hr class="proj-hr2">
      <h4>   <span class="material-symbols-outlined achive-icon">
        star
   </span>Successful System Migration</h4>
      <li>Managed the seamless migration of a legacy system to a modernized .NET platform, acknowledged with the Innovation in Technology award by the company.</li><hr class="proj-hr2">
      <h4><span class="material-symbols-outlined achive-icon">
        star_half
   </span>High Impact Performance Optimization</h4>
      <li>Optimized critical system processes, yielding a 30% performance increase under peak loads.</li>
      <hr class="proj-hr2">
      <h4><span class="material-symbols-outlined achive-icon">
        flag
   </span>Excellence in Agile Methodologies</h4>
      <li>Championed the adoption of Agile methodologies, significantly improving team productivity by 35% within six months.</li>
      </div>