<div class="projects-container">
    <h2>Projects</h2>
    <li>Contribution to Open Source Accounting Tool<br>
    Enhanced features and fixed critical bugs for an open-source accounting software - see the contributions at github.com/accounting-software</li>
    <li>Development of Community Resource Platform<br>
    Developed key functionalities for a web-based community resource sharing platform - check the repository at github.com/community-resource</li>
    <br>
    <br>
    <br>
    <br>
  </div>
  
  <div class="achievements-container">
    <h2>Achievements</h2>
    <ul>
      <li>Lead Developer of Award-Winning Software<br>
      Spearheaded the development of an award-winning educational application, seeing a user growth to 50,000+ within the first year.</li>
      <li>Successful System Migration<br>
      Managed the seamless migration of a legacy system to a modernized .NET platform, acknowledged with the Innovation in Technology award by the company.</li>
      <li>High Impact Performance Optimization<br>
      Optimized critical system processes, yielding a 30% performance increase under peak loads.</li>
      <li>Excellence in Agile Methodologies<br>
      Championed the adoption of Agile methodologies, significantly improving team productivity by 35% within six months.</li>
    </ul>
  </div>
  
  <div class="skills-container">
    <h2>Skills</h2>
    <p>Implemented new features in an accounting software used by 500+ clients, improving financial reporting accuracy</p>
    <ul>
      <li>C#</li>
      <li>.NET Core</li>
      <li>Angular 2+</li>
      <li>HTML5</li>
      <li>Assisted in the development of web services which enabled seamless integration with third-party services, enhancing system interoperability</li>
      <li>Established automated testing frameworks which reduced bug rates by 60% in delivered software products</li>
      <li>CSS</li>
      <li>SAAS</li>
    </ul>
  </div>
  